<template>
  <v-layout wrap>
    <v-flex
      xs12
      md6
    >
      <v-form
        v-model="valid"
        @submit="onSubmit"
      >
        <v-container grid-list-xl>
          <v-layout wrap>
            <v-flex
              xs12
            >
              <v-text-field
                v-model="className"
                :rules="classRules"
                label="Nome da Sala"
                hint="Ex.: B5"
                required
              ></v-text-field>
            </v-flex>

            <v-flex
              xs12
            >
              <v-text-field
                v-model="nbSeats"
                :rules="seatsRules"
                label="Numero de Lugares"
                type="number"
                mask="#####"
                required
              ></v-text-field>
            </v-flex>

          </v-layout>
          <v-btn
            :disabled="!valid"
            color="success"
            type="submit"
          >
            Cadastrar
          </v-btn>
        </v-container>
      </v-form>
    </v-flex>
    <v-flex
      xs12
      md6
    >
      <v-card>
        <v-card-title>
          <v-icon
            large
            left
          >
            fas fa-user-tie
          </v-icon>
          <span class="title font-weight-light">Cadastro de Salas</span>
        </v-card-title>
          <v-list>
            <v-list-tile
              v-for="item in items"
              :key="item.titulo"
            >
              <v-list-tile-content>
                <v-list-tile-title v-text="item.titulo + ': ' + item.value"></v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list>
        <v-card-text>
          <v-data-table
              :headers="this.headers"
              :items="this.salas"
              class="elevation-1"
          >
          {{ listaSalas() }}
              <template v-slot:items="props">
                  <td>{{ props.item.name }}</td>
                  <td class="text-xs-right">{{ props.item.nbSeats }}</td>
                  <td class="text-xs-right">{{ props.item.id }}</td>
              </template>
          </v-data-table>
        </v-card-text>
      </v-card>
    </v-flex>
    <v-snackbar
      v-model="showMessage"
      :timeout="6000"
      :top="true"
      :left="true"
    >
      {{ message }}
      <v-btn
        color="red"
        flat
        @click="showMessage = false"
      >
        Fechar
      </v-btn>
    </v-snackbar>
  </v-layout>
</template>


<script>
import axios from 'axios';

  export default {
    data(){
      return {
        sala: [],
        valid: false,
        className: '',
        nbSeats: 0,
        message: null,
        showMessage: false,
        salas: [],
        classRules: [
          v => !!v || 'Campo obrigatório',
          v => v.length >= 3 || 'Nome tem que ter pelo menos 3 caracteres'
        ],
        seatsRules: [
          v => !!v || 'Campo obrigatório'
        ],
        headers: [
            {
                text: 'Nome',
                align: 'left',
                sortable: false,
                value: 'name'
            },
            { text: 'Qtd Cadeiras', value: 'nbSeats', align: 'right' },
            { text: 'Id', value: 'id', align: 'right' },
        ],
      }
    },

    computed: {
      items(){
        var items = [
          { titulo: 'Salas', value: 'Ficarão disponiveis para reserva.' }
        ]
        return items
      }
    },

    methods: {
      cadastrarSala(payload){
        const path = 'http://localhost:5000/registraSala';
        axios.post(path, payload)
          .then((res) => {
            this.message = res.data.message;
            if(this.message === 'Sala Registrada'){
              this.showMessage = true;
            }else{
              this.showMessage = true;
            }
          })
          .catch((error) => {
            console.log(error);
          });
      },
      onSubmit(evt) {
        evt.preventDefault();
        const payload = {
          className: this.className,
          nbSeats: this.nbSeats
        };
        console.log(this.nbSeats)
        this.cadastrarSala(payload);
      },
      listaSalas() {
        const path = 'http://localhost:5000/registraSala';
        axios.get(path)
          .then((res) => {
            this.salas = res.data.salas;
          })
          .catch((error) => {
            // eslint-disable-next-line
            console.error(error);
          });
      }
    },

    head() {
      return {
        title: "Portal - Registro de Salas"
      }
    }
  }
</script>
