<template>
  <v-layout wrap>
    <v-flex xs3>
    </v-flex>
    <v-flex
      xs12
      md6
    >
      <v-card>
        <v-card-title>
          <v-icon
            large
            left
          >
            fas fa-user-tie
          </v-icon>
          <span class="title font-weight-light">Cadastro de Usuário</span>
        </v-card-title>
        <v-card-text>
          <v-form
            v-model="valid"
            @submit="onSubmit"
          >
            <v-container grid-list-xl>
              <v-layout wrap>
                <v-flex
                  xs12
                >
                  <v-text-field
                    v-model="name"
                    :rules="nameRules"
                    :counter="10"
                    label="Nome Completo"
                    required
                  ></v-text-field>
                </v-flex>

                <v-flex
                  xs12
                >
                  <v-text-field
                    v-model="username"
                    :rules="usernameRules"
                    :counter="10"
                    label="Nome de Usuário"
                    required
                  ></v-text-field>
                </v-flex>

                <v-flex
                  xs12
                >
                  <v-text-field
                    v-model="email"
                    :rules="emailRules"
                    label="E-mail"
                    required
                  ></v-text-field>
                </v-flex>

              <v-flex xs12 sm6>
                <v-text-field
                  v-model="password"
                  :append-icon="show ? 'visibility' : 'visibility_off'"
                  :rules="passwdRules"
                  :type="show ? 'text' : 'password'"
                  name="input-10-1"
                  hint="Mínimo: 8 Caracteres"
                  label="Senha"
                  counter
                  required
                  @click:append="show = !show"
                ></v-text-field>
              </v-flex>

              <v-flex xs12 sm6>
                <v-text-field
                  v-model="Rpassword"
                  :append-icon="show1 ? 'visibility' : 'visibility_off'"
                  :type="show ? 'text' : 'password'"
                  :rules="rpasswdRules"
                  name="input-10-2"
                  counter
                  required
                  label="Repita a Senha"
                  @click:append="show1 = !show1"
                ></v-text-field>
              </v-flex>


              </v-layout>
              <div class="text-xs-right">
                <v-btn
                  :disabled="!valid"
                  color="success"
                  type="submit"
                >
                  Cadastrar
                </v-btn>
              </div>
            </v-container>
          </v-form>
        </v-card-text>
      </v-card>
    </v-flex>
    <v-snackbar
      v-model="showMessage"
      :timeout="6000"
      :top="true"
      :left="true"
    >
      {{ message }}
      <v-btn
        color="red"
        flat
        @click="showMessage = false"
      >
        Fechar
      </v-btn>
    </v-snackbar>
  </v-layout>
</template>


<script>
import axios from 'axios';

  export default {
    data(){
      return {
        usuario: [],
        valid: false,
        name: '',
        username: '',
        password: '',
        Rpassword: null,
        message: null,
        showMessage: false,
        nameRules: [
          v => !!v || 'Campo obrigatório',
          v => v.length >= 10 || 'Nome tem que ter mais de 10 caracteres'
        ],
        usernameRules: [
          v => !!v || 'Campo obrigatório',
          v => v.length >= 5 || 'Nome de usuário tem que ter pelo menos 5 caracteres'
        ],
        email: '',
        emailRules: [
          v => !!v || 'Campo obrigatório',
          v => /.+@.+/.test(v) || 'Email inválido'
        ],
        passwdRules: [
          v => !!v || 'Campo Obrigatório',
          v => v.length >= 8 || 'Minimo: 8 Caracteres!',
          this.rpasswdRules
        ],
        rpasswdRules: [
          v => this.password_field || 'Senhas tem que ser iguais!'
        ],
        show: false,
        show1: false
      }
    },

    computed: {
      password_field(){
        return this.password == this.Rpassword
      },
      items(){
        var items = [
          { titulo: 'Primeiro Nome', value: 'O nome tem que ter pelo menos 2 caracteres' },
          { titulo: 'Ultimo Nome', value: 'O ultimo nome tem que ter pelo menos 2 caracteres' },
          { titulo: 'Email', value: 'Ex.: blabla@hotmail.com' },
          { titulo: 'Senha', value: 'Tem que conter pelo menos 8 caracteres' }
        ]
        return items
      }
    },

    methods: {
      initForm(){
        this.$router.push('/login?msg=1')
      },
      cadastrarUsuario(payload){
        const path = 'http://localhost:5000/usuario';
        axios.post(path, payload)
          .then((res) => {
            this.message = res.data.message;
            if(this.message === 'Usuário Registrado'){
              this.initForm()
            }else{
              this.showMessage = true;
            }
          })
          .catch((error) => {
            console.log(error);
          });
      },
      onSubmit(evt) {
        evt.preventDefault();
        const payload = {
          name: this.name,
          username: this.username,
          email: this.email,
          password: this.password
        };
        this.cadastrarUsuario(payload);
      },
    },

    head() {
      return {
        title: "Portal - Registro"
      }
    }
  }
</script>
