<template>
  <v-layout wrap>
    <v-flex sm3></v-flex>
    <v-flex
      sm6
      centered
    >
      <v-card>
        <v-card-title>
          <v-icon
            large
            left
          >
            fas fa-user-tie
          </v-icon>
          <span class="title font-weight-light">Login</span>
        </v-card-title>
        <v-card-text>
          <v-form
            v-model="valid"
            @submit="onSubmit"
          >
            <v-container grid-list-xl>
              <v-layout wrap>
                <v-flex
                  xs12
                  sm6
                >
                  <v-text-field
                    v-model="username"
                    label="Nome de Usuário"
                    required
                  ></v-text-field>
                </v-flex>

              <v-flex xs12 sm6>
                <v-text-field
                  v-model="password"
                  :append-icon="show ? 'visibility' : 'visibility_off'"
                  :type="show ? 'text' : 'password'"
                  name="input-10-1"
                  label="Senha"
                  required
                  @click:append="show = !show"
                ></v-text-field>
              </v-flex>
              </v-layout>
              <div
                class="text-xs-right"
              >
                <v-btn
                  :disabled="!valid"
                  color="success"
                  type="submit"
                >
                  Entrar
                </v-btn>
              </div>
            </v-container>
          </v-form>
        </v-card-text>
      </v-card>
    </v-flex>
    <v-snackbar
    v-model="msgStatus"
    :timeout="6000"
    :top="true"
    :left="true"
    >
      {{ msg }}
      <v-btn
        color="red"
        flat
        @click="msgStatus = false"
      >
        Fechar
      </v-btn>
    </v-snackbar>
  </v-layout>
</template>


<script>
import axios from 'axios';
import EventBus from '@/components/EventBus'
import jwtDecode from 'jwt-decode'

  export default {
    data(){
      return {
        usuario: [],
        valid: false,
        username: '',
        password: '',
        show: false,
        msg: null,
        msgStatus: false,
        perm: ''
      }
    },

    watch: {
      '$route.query.msg': function(){
        if(this.$route.query.msg == 1){
          this.msg = "Cadastrado com sucesso!"
          this.msgStatus = true
        }
      }
    },

    methods: {
      login (payload) {
        axios.post('http://localhost:5000/usuario/login', payload)
        .then((res) => {
          console.log(res.data)
          if(res.data.error){
            this.msg = res.data.error
            this.msgStatus = true
          }else{
            localStorage.setItem('usertoken', res.data)
            this.username = ''
            this.password = ''
            this.emitMethod()
            this.$router.push('/')
          }
        }).catch((err) => {
          console.log(err)
        })
      },
      onSubmit(evt) {
        evt.preventDefault();
        const payload = {
          username: this.username,
          password: this.password
        };
        this.login(payload);
      },
      emitMethod () {
        const token = localStorage.getItem('usertoken')
        const decoded = jwtDecode(token)
        const eventbus = {
          auth: 'loggedin',
          permission: decoded.identity.permission,
          name: decoded.identity.name
        }
        EventBus.$emit('logged-in', eventbus)
        console.log('Disparando EventBus de Login...', eventbus)
      }
    },

    head() {
      return {
        title: "Portal - Login"
      }
    }
  }
</script>
