<template>
  <v-layout
    column
    justify-center
    align-center
  >
    <v-container fluid grid-list-md>
      <v-layout row wrap>
        <v-flex sm3></v-flex>
        <v-flex
        sm6
        centered
        >
            <v-card>
                <v-card-title>
                <v-icon
                    large
                    left
                >
                    fas fa-user-tie
                </v-icon>
                <span class="title font-weight-light">Perfil</span>
                </v-card-title>
                <v-card-text>
                  <v-form
                    v-model="valid"
                    @submit="onSubmit"
                  >
                    <v-container grid-list-xl>
                      <v-layout wrap>
                        <v-flex
                          xs12
                        >
                          <v-text-field
                            v-model="full_name"
                            :disabled="true"
                            label="Nome Completo"
                          ></v-text-field>
                        </v-flex>

                        <v-flex
                          xs12
                        >
                          <v-text-field
                            v-model="username"
                            :disabled="true"
                            label="Nome de Usuário"
                          ></v-text-field>
                        </v-flex>

                        <v-flex
                          xs12
                        >
                          <v-text-field
                            v-model="email"
                            :disabled="true"
                            label="E-mail"
                          ></v-text-field>
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-form>
                </v-card-text>
            </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-layout>
</template>

<script>
import jwtDecode from 'jwt-decode'

export default {
  data(){
    const token = localStorage.getItem('usertoken')
    const decoded = jwtDecode(token)
    return{
      full_name: decoded.identity.name,
      username: decoded.identity.username,
      email: decoded.identity.email
    }
  },
  methods: {
    lorem(i, f){
      const str = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lorem urna, tristique ut purus quis, pharetra varius felis. Cras sem dui, posuere in dolor id, congue malesuada nibh. Proin sagittis sollicitudin dui, non mollis velit varius nec. Cras sed lectus fermentum, aliquet ligula ac, commodo diam. Duis suscipit, odio ac tempus consectetur, urna orci elementum augue, ut congue dui purus et nibh. Donec ut blandit eros. Quisque sodales pellentesque diam, eget pretium nulla sodales sed. In vestibulum egestas erat eget pellentesque. Aliquam vestibulum ex sem, feugiat sollicitudin eros tincidunt in.'
      if(i === f){
        return str
      }
      return str.slice(i, f)
    }
  },

  head() {
    return {
      title: "Bem Vindo - " + this.full_name
    };
  }
}
</script>
