<template>
    <v-data-table
        :headers="this.headers"
        :items="this.usuarios"
        class="elevation-1"
    >
    {{ listaUsuario() }}
        <template v-slot:items="props">
            <td>{{ props.item.name }}</td>
            <td class="text-xs-right">{{ props.item.username }}</td>
            <td class="text-xs-right">{{ props.item.email }}</td>
            <td class="text-xs-right">{{ props.item.id }}</td>
        </template>
    </v-data-table>
</template>

<script>
import Pessoas from '@/components/Pessoas.js'
import axios from 'axios';

export default {
    data() {
        return {
            pessoas: Pessoas.getPessoas(),
            usuarios: [],
            headers: [
            {
                text: 'Nome',
                align: 'left',
                sortable: false,
                value: 'name'
            },
            { text: 'Nome de usuario', value: 'username', align: 'right' },
            { text: 'Email', value: 'email', align: 'right' },
            { text: 'Id', value: 'id', align: 'right' },
        ],
        }
    },

    methods: {
      listaUsuario() {
        const path = 'http://localhost:5000/usuario';
        axios.get(path)
          .then((res) => {
            this.usuarios = res.data.usuario;
          })
          .catch((error) => {
            // eslint-disable-next-line
            console.error(error);
          });
      }
    },

    head() {
        return {
            title: "Portal - Tabela"
        };
    }
}
</script>
