<template>
  <v-app dark>
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant="false"
      :clipped="clipped"
      fixed
      app
    >
      <v-list>
        <span
          v-for="(item, i) in items"
          :key="i"
        >
          <span v-if="item.permission == ''">
            <span v-if="item.titulo != 'Logout'">
              <v-list-tile
                v-if="auth == item.status"
                :to="item.caminho"
                router
                exact
              >
                <v-list-tile-action>
                  <v-icon>{{ item.icone }}</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                  <v-list-tile-title v-text="item.titulo" />
                </v-list-tile-content>
              </v-list-tile>
            </span>
            <span v-else>
              <v-list-tile
                v-if="auth == item.status"
                @click.stop="logout()"
              >
                <v-list-tile-action>
                  <v-icon>{{ item.icone }}</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                  <v-list-tile-title v-text="item.titulo" />
                </v-list-tile-content>
              </v-list-tile>
            </span>
          </span>
          <span v-else>
            <v-list-tile
                v-if="perm == item.permission"
                :to="item.caminho"
                router
                exact
            >
              <v-list-tile-action>
                <v-icon>{{ item.icone }}</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title v-text="item.titulo" />
              </v-list-tile-content>
            </v-list-tile>
          </span>
        </span>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar
      :clipped-left="clipped"
      fixed
      app
    >
      <v-toolbar-side-icon @click="drawer = !drawer" />
      <v-toolbar-title v-text="tituloMenu" />
      <v-spacer />
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn
          v-if="name != ''"
          :to="'/perfil'"
          flat
        >
          {{ name }}
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <v-content>
      <v-container>
        <nuxt />
      </v-container>
    </v-content>
    <v-footer
      :fixed="fixed"
      app
    >
      <span>&copy; Raphael Kammer - 2019</span>
    </v-footer>
  </v-app>
</template>

<script>
import EventBus from '@/components/EventBus'
import jwtDecode from 'jwt-decode'

export default {
  data() {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      auth: '',
      user: '',
      perm: '',
      name: '',
      items: [
        {
          icone: 'home',
          titulo: 'Home',
          caminho: '/',
          status: '',
          permission: ''
        },
        {
          icone: 'home',
          titulo: 'Home',
          caminho: '/',
          status: 'loggedin',
          permission: ''
        },
        {
          icone: 'fas fa-user-tie',
          titulo: 'Registre-se',
          caminho: 'formulario',
          status: '',
          permission: ''
        },
        {
          icone: 'fa fa-table',
          titulo: 'Tabela',
          caminho: '/tabela',
          status: 'loggedin',
          permission: ''
        },
        {
          icone: 'far fa-address-card',
          titulo: 'Perfil',
          caminho: '/perfil',
          status: 'loggedin',
          permission: ''
        },
        {
          icone: 'fas fa-sign-in-alt',
          titulo: 'Login',
          caminho: 'login',
          status: '',
          permission: ''
        },
        {
          icone: 'fas fa-sign-out-alt',
          titulo: 'Logout',
          caminho: 'logout()',
          status: 'loggedin',
          permission: ''
        },
        {
          icone: 'fas fa-door-open',
          titulo: 'Cadastro de Salas',
          caminho: '/formularioSala',
          status: 'loggedin',
          permission: 'Administrador'
        }
      ],
      tituloMenu: 'Portal'
    }
  },

  mounted () {
    EventBus.$on('logged-in', status => {
      this.auth = status.auth
      this.perm = status.permission
      this.name = status.name
      console.log('Recuperando dados do eventBus...', 'Permissão:', this.perm, 'Auth:', this.auth)
    })
  },

  methods: {
    logout () {
      console.log("Deslogando...")
      localStorage.removeItem('usertoken')
      this.emitMethod()
    },
    emitMethod () {
        const eventbus = {
          auth: '',
          permission: '',
          name: ''
        }
        EventBus.$emit('logged-in', eventbus)
        console.log("Tirando o EventBus...", eventbus)
        this.auth = ''
        this.drawer = false
        this.$router.push('/')
    }
  }
}
</script>